.comment_c{
	width: 90%;
    border: 1px solid;
    margin-top: 15px;
	padding-left: 15px;
	padding-top: 5px;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    border-radius: 15px;
}

.Da{
	background: #A4A4A4;
}

.anwser{
	margin-left: 50px;
}

.txt_as{
	width: 90%;
}